# Файлы окружения (САМОЕ ВАЖНО!)
.env
*.env

# Логи
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go
bin/
vendor/

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db